{%- block books %}

<h3>Books</h3>
<div class="container-fluid">
     <div class="book">
         <a href="https://www.oreilly.com/library/view/practical-mlops/9781098103002/"><img src="https://data.tymyrddin.dev/en/latest/_static/images/books/practical-mlops.png" width="300" class="img-fluid" alt="Practical MLOps"></a>
     </div>
     <div class="book">
         <a href="https://www.packtpub.com/product/engineering-mlops/9781800562882"><img src="https://data.tymyrddin.dev/en/latest/_static/images/books/engineering-mlops.png" width="300" class="img-fluid" alt="Engineering MLOps"></a>
     </div>
     <div class="book">
         <a href="https://www.manning.com/books/mlops-engineering-at-scale"><img src="https://data.tymyrddin.dev/en/latest/_static/images/books/engineering-at-scale.png" width="300" class="img-fluid" alt="MLOps Engineering at Scale"></a>
     </div>
</div>

{% endblock %}