{%- block navbar %}

<div class="container">
    <nav>
        <ul>
            <li class="nav__item"><a href="https://tymyrddin.dev/" class="nav__link">Ty Myrddin Home</a></li>
            <li class="nav__item"><a href="https://milliways.tymyrddin.dev/" class="nav__link">Milliways</a></li>
            <li class="nav__item"><a href="https://milliways.tymyrddin.dev/blog/" class="nav__link">Cuisine Starlight</a></li>
            <li class="nav__item"><a href="https://tymyrddin.dev/about/" class="nav__link">About</a></li>
            <li class="nav__item"><a href="https://tymyrddin.dev/contact/" class="nav__link">Contact</a></li>
        </ul>
    </nav>
</div>

{% endblock %}