@font-face {
    font-family: 'voyagerheavy';
    src: url('voyager_font-webfont.woff2') format('woff2'),
         url('voyager_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('../images/site/background.png');
  background-repeat: repeat;
  background-size: auto;
}

.bd-sidebar-primary {
  background-color: transparent !important;
}

.bd-header {
  background-color: rgba(0,0,0,0.5) !important; /* Black background with opacity */
}

a {
  color: #808080;
}

a:hover {
  color: #00aaaa;
}

h1 {
  color: #00aaaa;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
}

h2 {
  color: #00aaaa;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
}

h3 {
  color: #00aaaa;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

.caption-text {
  color: #00aaaa;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

.bd-sidebar-primary h3 {
  color: #00aaaa;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 1.2em;
  margin-top: 10px;
}

.onthispage {
  color: #eeeeee;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.bd-sidebar-primary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.bd-sidebar-primary p {
  margin-bottom: 10px;
}

.book {
  margin: 5%;
}

.toc-item a:hover {
  color: #00aaaa;
}

.prev-next-area {
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 0.8em;
}

.prev-next-area a p.prev-next-title {
  color: #00aaaa;
}

.bd-header {
  background: transparent;
  background-repeat: no-repeat;
  background-size: auto;
}

.bd-header .navbar-nav>.active>.nav-link {
  color: #00aaaa;
}

.bd-header .navbar-nav li a.nav-link:hover {
  color: #00aaaa;
}

#navbar-icon-links i.fa-square-gitlab::before {
  color: #00aaaa;
}

.search-button a:hover {
  color: #00aaaa;
}

footer.bd-footer {
  background: transparent;
  background-repeat: no-repeat;
  background-size: auto;
}

.footer-item, .footer-item p {
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-size: 0.8em;
  color: #eeeeee;
}

.footer-item a {
  color: #00aaaa;
}

.footer-item a:hover {
  color: #6666ff;
}

/* navbar template */

nav {
  margin: auto 0;
  font-family: 'voyagerheavy', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 0.9em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 1em 0;
}

@media screen and (min-width: 800px) {
  nav ul {
    justify-content: space-between;
  }
}

.nav__link, .nav__link:visited {
  text-decoration: none !important;
  font-size: 0.7rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__item + .nav__item {
  margin-left: 0.5rem;
}

@media screen and (min-width: 800px) {
    .nav__link, .nav__link:visited {
        font-size: 0.9rem;
    }

    .nav__item + .nav__item {
        margin-left: 2.0rem;
    }
}
